@import url(" https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
  }
  
  html {
    font-size: 85%;
    font-family: "Poppins" sans-serif;
    
  }

.dark-theme{
  --main-heading:#5f99be;
  --para-clr:#fff;
  --btn-bg-color:#5f99be;
  --btn-text-clr:#fff;
  --bg-clr:#111b20;
}
.light-theme{
  --main-heading:#5f99be;
  --para-clr:#333;
  --btn-bg-color:#111b20;
  --btn-text-clr:#fff;
  --bg-clr:#fff;
}




li{
  font-size: 1.8rem;
  color: var(--btn-bg-color);
}
.btn{
  padding:1.6rem;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-clr);
}
section{
  max-width: 100%;
  background-color: var(--bg-clr);
}
.isim{
  color:red;
  text-size-adjust: 15rem;
}
.container{
  max-width: 140rem;
  margin: 0 auto;
}
.grid{
  display: grid;
  gap:9rem;
}
.grid-two-column{
  grid-template-columns: 1fr 1fr;
}
header{
  height: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:var(--bg-clr);
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}
header nav li {
  list-style:none;
}
.hero-section-data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-section-data p{
  margin: 2rem 0;
}
.hero-section-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero-section-image{
  max-height: 60%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
